<body style="margin: 0">
<div class="aside1" style="
    width: 30%;
    height: 60%;
    background-color: #9296ee;
    text-align: center;
    position:absolute;
    top: 20%;
    right: 0;
">
    <p>Aside 1</p>
</div>
</body>