<body style="margin: 0;">
<div class="footer1" style="
    width: 100%;
    height: 20%;
    background-color: #5792ee;
    position: absolute;
    bottom: 0;
    text-align: center;

">
<p>Footer 1</p>
</div>
</body>