<body style="margin: 0">
<div class="main1" style="
    width: 70%;
    height: 60%;
    background-color: #64daee;
    text-align: center;
    position:absolute;
    top: 20%;
">
    <p>Main 1</p>
</div>
</body>