.body{
    margin: 0;
    padding: 0;
    background-image: url("../../../examen voorbereiding/resources/img/background.png");
    background-repeat: no-repeat, repeat;
    height: 100%;
    /*background-color: #ffffff;*/

}

.goodday_logo{
    position: absolute;
    top: 20px;
    left: 20px;
}

.container{
    font-family: 'Roboto', sans-serif;
    max-width: 60%;
    margin: 50px auto;
}

.title_container, .button_container, .dropdown_container{
    padding: 20px;
}

.title_container, .dropdown_container{
    margin-bottom: 20px;
}

h1{
    font-size: 35px;
    text-align: center;
    padding-bottom: 10px;
}

h2{
    font-size: 20px;
    text-align: center;
}

.dropdown_container{
    box-shadow: 0 0 20px 1px #00000042;
    background-color: #389ed9;
    color: white;

}

td, th{
    padding: 10px 20px;
    color: white;
}

th{
    text-align: left;
    color: white;

}

.dropdown_container, .button_container{
    display: flex;
    justify-content: center;

}

.submit_button{
    font-size: 15px;
    color: white;
    background-color: rgba(88, 88, 88, 0.35);
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.add, .remove{
    color: white;
    background-color: #389ed9;
    border: 1px solid white;
    font-weight: bolder;
    width: 25px;
    height: 25px;
}

.add, .remove, .dropdown_item, .submit_button{
    cursor: pointer;
    transition: 0.5s;
}

.add:hover, .remove:hover{
    background-color: white;
    color: #389ed9;
}


.submit_button:hover{
    background-color: #e6007e;
}

.dropdown_item{
    width: 150px;
    height: 30px;
    border-radius: 0;
    -webkit-appearance: none;
    padding-left: 10px;
    color: white;
    background-color: #389ed9;
    border: 1px solid white;
}

.dropdown_item:hover{
    background-color: white;
    border: none;
    color: black;

}

.iframe_container{
    background-color: #cccccc;
    height: 486px;
}

iframe{
    position: absolute;
    min-width: 60%;
    height: 486px;
    background-color: pink ;
}

@media only screen and (max-width: 768px) {

    .container {
        max-width: 90%;
        margin: 10px auto;
    }

}